In [1]:
"""
A nested dictionary is created the same way a normal dictionary is created.
The only difference is that each value is another dictionary.

"""
x = {"a":33 ,"b":44} # normal dictionary
print(x)
print(type(x))

for i in x.keys():
    print(i)
    
for i in x.values():
    print(i)

{'a': 33, 'b': 44}
<class 'dict'>
a
b
33
44

In [2]:
y = {"a":{"x":10,"y":20} ,"b":44} # nested dictionary , value of key "a" is another dictionary


for i in y.keys():
    print(i)
    
    
for i in y.values():
    print(i)

a
b
{'x': 10, 'y': 20}
44

In [3]:
d = {'student1': {'name': 'Kumar', 'college': 'IIT'},
     'student2': {'name': 'Ram', 'college': 'VIT'},
     'student3': {'name': 'Suresh', 'college': 'SRM'}}

for i in d.keys():
    print(i)
    
for i in d.values():
    print(i)

student1
student2
student3
{'name': 'Kumar', 'college': 'IIT'}
{'name': 'Ram', 'college': 'VIT'}
{'name': 'Suresh', 'college': 'SRM'}

In [4]:
d = dict(student1= {'name': 'Kumar', 'college': 'IIT'},
         student2= {'name': 'Ram', 'college': 'VIT'},
         student3= {'name': 'Suresh', 'college': 'SRM'})
print(d)

{'student1': {'name': 'Kumar', 'college': 'IIT'}, 'student2': {'name': 'Ram', 'college': 'VIT'}, 'student3': {'name': 'Suresh', 'college': 'SRM'}}

In [5]:
a = ["x","y"]
b = [1,2]
c = list(zip(a,b))
print(c)

[('x', 1), ('y', 2)]

In [6]:
studentid = ['student1','student2','student3']

studentinfo = [{'name': 'Kumar', 'college': 'IIT'},{'name': 'Ram', 'college': 'VIT'},{'name': 'Suresh', 'college': 'SRM'}]

print(dict(zip(studentid,studentinfo)))

{'student1': {'name': 'Kumar', 'college': 'IIT'}, 'student2': {'name': 'Ram', 'college': 'VIT'}, 'student3': {'name': 'Suresh', 'college': 'SRM'}}

Acessing Nested Dictionary

In [7]:
d = {"x":1,"y":2}
print(d["x"])

1

In [8]:
d = {'student1': {'name': 'Kumar', 'college': 'IIT',"section":"A"},
     'student2': {'name': 'Ram', 'college': 'VIT'},
     'student3': {'name': 'Suresh', 'college': 'SRM'}}

print(d['student1']['name']) 
print(d['student1']['section'])
print(d['student1']['school'])# will raise key error , if key not present

Kumar
A

KeyError: 'school'

In [9]:
print(d['student1'].get('name')) # will not raise key error
print(d['student1'].get('school')) # will not raise key error

Kumar
None

In [10]:
d = {"x":"Python","y":"Java"}

d["x"] = "France"

print(d)

{'x': 'France', 'y': 'Java'}

In [11]:
d = {'student1': {'name': 'Kumar', 'college': 'IIT'},
     'student2': {'name': 'Ram', 'college': 'VIT'},
     'student3': {'name': 'Suresh', 'college': 'SRM'}}

d['student1']['name'] = "Jhon" # changing one record
print(d)

{'student1': {'name': 'Jhon', 'college': 'IIT'}, 'student2': {'name': 'Ram', 'college': 'VIT'}, 'student3': {'name': 'Suresh', 'college': 'SRM'}}

In [12]:
d = {'student1': {'name': 'Kumar', 'college': 'IIT'},
     'student2': {'name': 'Ram', 'college': 'VIT'},
     'student3': {'name': 'Suresh', 'college': 'SRM'}}

d['student1'] = {'name':"Jhon",'college':'Oxford'}
print(d)

{'student1': {'name': 'Jhon', 'college': 'Oxford'}, 'student2': {'name': 'Ram', 'college': 'VIT'}, 'student3': {'name': 'Suresh', 'college': 'SRM'}}

In [13]:
d1 = {'student1': {'name': 'Kumar', 'college': 'IIT'}}
d2 = {'student2': {'name': 'Ram', 'college': 'VIT'}}

d1.update(d2)
print(d1)

{'student1': {'name': 'Kumar', 'college': 'IIT'}, 'student2': {'name': 'Ram', 'college': 'VIT'}}

In [14]:
d = {'student1': {'name': 'Kumar', 'college': 'IIT'},
     'student2': {'name': 'Ram', 'college': 'VIT'},
     'student3': {'name': 'Suresh', 'college': 'SRM'}}

x = d.pop('student3')
print(x)
print(d)

{'name': 'Suresh', 'college': 'SRM'}
{'student1': {'name': 'Kumar', 'college': 'IIT'}, 'student2': {'name': 'Ram', 'college': 'VIT'}}

In [15]:

d = {'student1': {'name': 'Kumar', 'college': 'IIT'},
     'student2': {'name': 'Ram', 'college': 'VIT'},
     'student3': {'name': 'Suresh', 'college': 'SRM'}}

del d['student3']

print(d)

{'student1': {'name': 'Kumar', 'college': 'IIT'}, 'student2': {'name': 'Ram', 'college': 'VIT'}}

In [16]:

d = {'student1': {'name': 'Kumar', 'college': 'IIT'},
     'student2': {'name': 'Ram', 'college': 'VIT'},
     'student3': {'name': 'Suresh', 'college': 'SRM'}}

x = d.popitem() # removes last item , before 3.7 removes random item
#print(x)
print(d)

{'student1': {'name': 'Kumar', 'college': 'IIT'}, 'student2': {'name': 'Ram', 'college': 'VIT'}}

In [17]:
x = {"a":1,"b":2,"c":3}

for i,j in x.items():
    print(i)
    print(j)
    print("One item over")

a
1
One item over
b
2
One item over
c
3
One item over

In [18]:
x = {"a":1,"b":2,"c":3}

"""
for i in x.keys(): # prints the keys
    print(i)
    
for i in x.values(): # prints the values
    print(i)

"""
    
for i in x:
    print(i) # prints the keys
    
    
for i in x:
    print(i,x[i]) # print both keys and values

a
b
c
a 1
b 2
c 3

In [19]:
mobiles = {

         1: {'Company':'iphone', 'model':'XR', 'OS':'IOS', "price":67000} ,  
         2: {'Company':'Samsung', 'model':'Note 10', "OS":'Android', 'price':87000},
         3: {'Company':'Nokia', 'model':'A7', 'OS':'Android', 'price':17000}
}

for i , k in mobiles.items():
    print(i, 'Product information')
    
    for j in k: # {'Company':'iphone', 'model':'XR', 'OS':'IOS', "price":67000}
        print(j, k[j])
    print("************")

1 Product information
Company iphone
model XR
OS IOS
price 67000
************
2 Product information
Company Samsung
model Note 10
OS Android
price 87000
************
3 Product information
Company Nokia
model A7
OS Android
price 17000
************

In [20]:
people = {1: {'Name': 'John', 'Age': '27', 'Sex': 'Male'},
          2: {'Name': 'Marie', 'Age': '22', 'Sex': 'Female'}}

for p_id, p_info in people.items():
    print("\nPerson ID:", p_id)
    
    for key in p_info:
        print(key + ':', p_info[key])

Person ID: 1
Name: John
Age: 27
Sex: Male

Person ID: 2
Name: Marie
Age: 22
Sex: Female