# For Loop

In [24]:
for i in range(1,5):# intial value of i -> 1 , final value of i -> 5 , the loop will run till 5
    print(i)

1
2
3
4

In [25]:
# can also be done using the range function
x = range(1,5)
for i in x:
    print(i)

1
2
3
4

In [2]:
for i in range(1,5):# intial value of i -> 1 , final value of i -> 5 , the loop will run till 5
    print(i,end = " ")

1 2 3 4

In [3]:
for i in range(1,5):
    print("*")

*
*
*
*

In [4]:
for i in range(1,5):
    print("*",end = " ")

* * * *

In [5]:
for i in range(1,5):
    print("Hello")

Hello
Hello
Hello
Hello

In [26]:
for i in range(5): # intial value i ->0
    print(i)

0
1
2
3
4

In [ ]:
# can also be done using the range function
x = range(1,5)
for i in x:
    print(i)

In [7]:
for i  in range(5,10):
    print("*")

*
*
*
*
*

In [8]:
for i in range(1,10,3): # intial vlaue of i -> 1 , final value i->10 , increment or step - > 3
    print(i)

1
4
7

In [9]:
for i in range(1,10,2): # intial vlaue of i -> 1 , final value i->10 , increment or step - > 3
    print(i)
    
else:
    print("Loop is over")

1
3
5
7
9
Loop is over

In [10]:
for i in range(1,10,4):
    print("*")# 1 , 5 , 9

*
*
*

In [11]:
for i in range(1,10):
    if i ==3:
        break
    print(i)

1
2

In [12]:
for i in range(1,10):
    if i ==3:
        break
    print(i)
else: # else block will not executed if the for loop ends before the full iteration 
    print("Loop is Over")

1
2

In [13]:
for i in range(1,10):
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9

In [14]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [15]:
for i in range(10,3,-1):
    print(i)

10
9
8
7
6
5
4

In [16]:
for i in range(10,3,-2):
    print(i)

10
8
6
4

In [17]:
a= int(input("Enter the range : "))

for i in range(1,a):
    print(i)

Enter the range : 5
1
2
3
4

In [18]:
a = int(input("Enter the a value : "))
b = int(input("Enter the b value : "))
for i in range(a,b):
    print(i)

Enter the a value : 5
Enter the b value : 10
5
6
7
8
9

In [19]:
for i in range(1,5):
    print("*")

*
*
*
*

In [20]:
for i in range(1,5):
    print("*",end = " ")

* * * *

* * * * 
* * * * 
* * * * 
* * * *

In [21]:
for j in range(1,5):
    for i in range(1,5):
        print("*",end = " ")
    print('\n')

* * * *

* * * *

* * * *

* * * *

* 
* * 
* * * 
* * * *

In [22]:
# 1+2+3+ 4..10

sum = 0
for i in range(1,11):
    sum = sum+i
    print(sum)
    
    # sum = 0+1 -> 1
    # sum = 1+2 -> 3
    # sum = 3+3 -> 6

1
3
6
10
15
21
28
36
45
55

In [23]:
# 1+2+3+ 4..10

sum = 0

for i in range(1,11):
    sum = sum+i
    
    
print(sum)
    
    # sum = 0+1 -> 1
    # sum = 1+2 -> 3
    # sum = 3+3 -> 6

55