In [1]:
for i in range(3):
    print("x")
for i in range(4):
    print("y")

x
x
x
y
y
y
y

In [2]:
for i in range(3):
    print("letter X")
    for i in range(4):
        print("letter Y")

letter X
letter Y
letter Y
letter Y
letter Y
letter X
letter Y
letter Y
letter Y
letter Y
letter X
letter Y
letter Y
letter Y
letter Y

In [3]:
#nested for loop in python
for i in range(0,3):
    for j in range(0,4):
        print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3

In [4]:
#nested for loop in python example
num=int(input("Enter te number of rows :"))
print(" ")
for i in range(1,num):
    for j in range(1):
        print("*"*(i)), #string multiplication
        print("")

Enter te number of rows :4

*

**

***

In [5]:
#nested for loop in python example
num=int(input("Enter te number of rows :"))
print(" ")
for i in range(1,num):
    for j in range(1):
        print("*"*(i)), #string multiplication
        print("")

Enter te number of rows :4

*

**

***

In [6]:
for i in range(1,5,1):
    print("\n"),
    for j in range(1,6,1):
        print(i,'*',j,'=',i*j)
        print("\n"),

1 * 1 = 1


1 * 2 = 2


1 * 3 = 3


1 * 4 = 4


1 * 5 = 5




2 * 1 = 2


2 * 2 = 4


2 * 3 = 6


2 * 4 = 8


2 * 5 = 10




3 * 1 = 3


3 * 2 = 6


3 * 3 = 9


3 * 4 = 12


3 * 5 = 15




4 * 1 = 4


4 * 2 = 8


4 * 3 = 12


4 * 4 = 16


4 * 5 = 20

In [10]:
names=['John','Smith','Dan','Khan']#name is string
#name list in Python
ages=[34,54,23,43] 
for name in names: 
    for age in ages: 
        print(name," has "+str(age))

John  has 34
John  has 54
John  has 23
John  has 43
Smith  has 34
Smith  has 54
Smith  has 23
Smith  has 43
Dan  has 34
Dan  has 54
Dan  has 23
Dan  has 43
Khan  has 34
Khan  has 54
Khan  has 23
Khan  has 43

In [12]:
names=['Jhon','Smith','Dan']#name is string
#name list in Python
numbers=[1,4,6] #numbere list in Python
cars=['Benz','Toyota','BMW'] #car list in python
for name in names: 
    for number in numbers:
        for car in cars:
          print(name+" has "+str(number)+"car"+car)

Jhon has 1carBenz
Jhon has 1carToyota
Jhon has 1carBMW
Jhon has 4carBenz
Jhon has 4carToyota
Jhon has 4carBMW
Jhon has 6carBenz
Jhon has 6carToyota
Jhon has 6carBMW
Smith has 1carBenz
Smith has 1carToyota
Smith has 1carBMW
Smith has 4carBenz
Smith has 4carToyota
Smith has 4carBMW
Smith has 6carBenz
Smith has 6carToyota
Smith has 6carBMW
Dan has 1carBenz
Dan has 1carToyota
Dan has 1carBMW
Dan has 4carBenz
Dan has 4carToyota
Dan has 4carBMW
Dan has 6carBenz
Dan has 6carToyota
Dan has 6carBMW